.pic-list img{
	height: 200px;
	width: 300px;
}

.pic-list h3 {
   position: absolute;
   top: -10px;
   width: 100%;
   text-decoration: none;
   color: #FFF;
   opacity: 0%;
}

.pic-list h3 {
   position: absolute;
   top: -10px;
   width: 100%;
   text-decoration: none;
   color: #FFF;
   opacity: 0;
   transition: opacity .25s ease-in-out;
   -moz-transition: opacity .25s ease-in-out;
   -webkit-transition: opacity .25s ease-in-out;
   text-shadow: -1px 0 #747580, 0 1px #747580, 1px 0 #747580, 0 -1px #747580;
}

.pic-list .icons{
	width:20px;
	height: 20px;
	float: left;
}

.navbar-brand{
	color: #FFF;
}

.navbar-brand:hover{
	color: #FAAD28;
}


.pic-list img:hover ~ h3{
	opacity: 100;
}

.pic-list ul{
    list-style-type: none;
    padding: 0;
}

.pic-list ul img{
    display: block;
}

.pic-list li {
	 float: left;
}

.dropdown{
	margin-bottom: 20px;
	margin-right: 20px;
	position: inline;
}

#trends {
	color: #FAAD28;
}

#trends:hover {
	color: #FFF;
}

.stats {
	text-decoration: none;
	color: #FFF;
	text-shadow: -1px 0 #747580, 0 1px #747580, 1px 0 #747580, 0 -1px #747580;
    display: block;
}

.stats p:hover {
	text-decoration: none;
}

.alone {
	clear: both;
}
