div.circleControl {
    margin:auto;
    width: 20x;
    height: 20x;
    text-align: center;
    z-index: 500;
    margin:auto;
}
div.circleControl div.head{
    position: absolute;
    text-align: center;
    z-index: 100;
}

div.circleControl div.element{
    position: absolute;
    opacity: 0;
    left:0;
    right:0;
    transition: left .2s cubic-bezier(0,0,.6,2), top .2s cubic-bezier(0,0,.6,2), opacity .1s;
    /*transition-timing-function: cubic-bezier(0,0,.6,2)*/
}
div.circleControl:active div.head .children{
    box-shadow: inset 2px 2px 3px rgba(0,0,0,.2);
    transition: box-shadow .2s;
}
.element{
  top : 0;
  left : 0;
}
.children{
    width: 58px;
    height: 58px;
    left: 0;
    top : 0;
    text-align: center;
    cursor:pointer;
    border-radius: 30px;
    box-shadow : 3px 3px 3px rgba(0,0,0,0.15);
    background-image: url('http://filial.barstrade.ru/jsLib/kravchuk/composition.jpg');
  transition: box-shadow .2s cubic-bezier(0,0,.6,2),
    transform .2s cubic-bezier(0,0,.6,2);
}
.activeElement .children{
  box-shadow: 0px 0px 3px  rgba(0,0,0,0.15), inset 2px 2px 3px rgba(0,0,0,0.5);
  transform: scale(0.95);
  transition: box-shadow .2s,
    transform .2s
    ;

}
/*======another rules========*/
body{
  background-repeat: no-repeat;
}
button{
  display:block;
  width: 130px;
  height: 30px;
  margin-bottom: 5px;
  font-family: Arial;
  font-size: 14px;
  color: #4D4D4D;
}
.FB{
    background-position: 0 0;
}
.goo{
    background-position: -180px 0;
}
.twit{
    background-position: -60px 0;
}
.LIn{
    background-position: -240px 0;
}
.p{
    background-position: -120px 0;
}

.arrow{
  width: 150px;
  position : absolute;
  display : block;
  top: 134px;
  left: 121px;
}
.text{
  position : absolute;
  display : block;
  top: 107px;
  left: 0px;
  font-family: monospace;
  font-size: 14px;
}
#canvas{
  width: 800px;
  margin: auto;
  position: relative;
}
#container{
    left: 370px;
    top: 150px;
    position: absolute;
}
.panel{
  padding-top: 30px;
  padding-left: 20px;
  opacity : 0;
  transition: opacity .4s
}
