<!DOCTYPE html>
<html>
<head>
  <meta content="text/html;charset=utf-8" http-equiv="Content-Type"/>
  <meta content="utf-8" http-equiv="encoding"/>
  <link rel="stylesheet" type="text/css" href="../../assets/stylesheets/flowerpedal.css"/>
  <script src="../../assets/app/assets/javascripts/flowerpedal.js"/>

</head>

<body>
  <div class="drops">
    <div class="rect raindrop yellow"></div>
    <div class="rect raindrop"></div>
    <div class="rect raindrop orange"></div>
    <div class="rect raindrop pink"></div>
    <div class="rect raindrop tel"></div>
  </div>
</body>
</html>
