
<div class='imgpanel'>
	<div id='canvas'>
		<div id='container'></div>
	</div>
</div>

<!-- <div class='panel'>
		<button onClick='javascript:circleControls[0].open()'>Open</button>
		<button onClick='javascript:circleControls[0].close()'>Close</button>
		<button onClick='javascript:circleControls[0].val(val); val = val>3 ? 0 : val+1'>Change value</button>
		<button onClick='javascript:alert(circleControls[0].val())'>Get selected</button>
		<button onClick='javascript:circleControls[0].set("onChange",
                     function(obj){
                       alert("It was changed to "+obj.val()+"!");
                     })'>Bind onChange</button>
									</img>
</div> -->
