<!DOCTYPE html>
<html>
<head>
  <title>TravelTag</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>

  <%= csrf_meta_tags %>

  <%= javascript_include_tag "application", "data-turbolinks-track" => true  %>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>

</head>
<body>

<%= yield %>

</body>
</html>
